<div class="footer">
	<div class="filepath">
		<span>File Path : </span>
		<a id="path" href="#" target="_blank">
			<abbr title="#"></abbr>
		</a>
	</div>
	<div class="info">
        ©2015
        <a target="_blank" href="https://github.com/OneSourceCat/phpvulhunter.git">
        	<abbr title="访问我们的GitHub.">SafeCat Team</abbr>
        </a>
        . All Rights Reserved.
    </div>
      <!-- <li>
        Contact:
        <a href="mailto:chongrui123@gmail.com"><abbr title="联系我们">chongrui123@gmail.com</a></abbr>
      </li> -->
</div>